.nav-about, .nav-portfolio, .nav-resume, .nav-contact {
	text-decoration: underline;
	/*border-bottom: 1px solid;*/
}

.nav-portfolio, .nav-contact {
	border-left: 2px;
	border-left-style: solid;
	margin-left: -2px !important;
}

.nav-about, .nav-resume {
	border-right: 2px;
	border-right-style: solid;

}

.nav-row {
	margin-bottom: 0 !important;
}	