<!DOCTYPE html>
<html>
<head>
	<!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link href='https://fonts.googleapis.com/css?family=Cinzel:700|Allura' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="css/left.css">

	<title>Bianca Semprit</title>
</head>
<body>
<main>

<!-- Small mobile Nav Bar -->
<div class="navbar-fixed hide-on-large-only">
	<nav>
	    <div class="nav-wrapper purple darken-2">
	    	<div class="container">
	    		<div class="row">
	    			<div class="col push-s4 s4">			
				      <ul>
				        <li><a href="sass.html" class=""><i class="material-icons small">perm_identity</i></a></li>
				        <li><a href="badges.html"><i class="material-icons small">work</i></a></li>
				        <li><a href="collapsible.html"><i class="material-icons small">message</i></a></li>
				        <li><a href="collapsible.html"><i class="material-icons small">list</i></a></li>
				      </ul>
	    			</div>
	    		</div>
	    	</div>
	    </div>
	  </nav>
</div>
<!-- End of small Nav Bar -->

<!-- Nav -->

<div class="row nav-bar">
		<img src="../images/laptop.png" class="computer-nav">
	<div class="nav-text-holder inline">
		<img src="../images/blinkerGreen.gif" class="blinker">
		<span class="nav-text white-text inline">HOME</span>
	</div> 
</div>


<div class="row first-row">
	<div class="col l12 left-top">
		<div class="left-bianca-text center quote">
			<img src="../images/BiancaGeomCut.png"><br>
			<img src="../images/divider.png" class="left-divider"><br>
			<h5 class="white-text z-depth-4 center-align waves-effect waves-purple black">"I go to seek a great perhaps..." - Francois Rabelais</h3>
		</div>
		<div class="col l6 center quote">
		</div>
	</div>
</div>

<!-- Skills -->

<div class="row">
	<div class="col l12 m12 s12 left-skills">
		<div class="skills-buttons-left center">
			<a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>button</a>
			<a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>button</a>
			<a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>button</a>
			<a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>button</a>
			<a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>button</a>
			<a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>button</a>
		</div>
	</div>
</div>

<!-- Projects -->
<div class="row">
	<div class="col l12 s12 m12 left-portfolio purple darken-1">
		<div class="col l4 s4 m4">
			<h3 class="center-align">Projects:</h3>
			<div class="projects-holder">
				<img src="images/macbook.png" class="macbook">
			</div>
		</div>
		<div class="col l8 s8 m8">
			<div class="card teal darken-1 col l8 s8 m8 push-l2 push-s2 push-m2 z-depth-4 project-left-details">
	            <div class="card-content white-text">
	              <span class="card-title"> Ironhack Final Project</span>
	              <p>This project allows people to give back without taking money from them. Instead, spend some time sitting at a computer doing good for the world. There is so much we can do at our fingertips, here is another way to feel a little better and game your heart out. </p>
	            </div>
	            <div class="card-action">
	              <a href="https://mighty-bastion-71330.herokuapp.com/">Final Project</a>
	            </div>
            </div>
		</div>
	</div>
</div>

<!-- Resume -->

<div class="row">
	<div class="col l12 s12 m12 left-resume">
		
	</div>
</div>

</main>
<footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l12 s12">
                <h5 class="white-text">Bianca Semprit</h5>
                <p class="grey-text text-lighten-4">Form goes here eventually</p>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2016 Copyright Text
            </div>
          </div>
        </footer>

	
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
  	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
</body>
</html>