<!DOCTYPE html>
<html>
<head>
	<!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link href='https://fonts.googleapis.com/css?family=Cinzel:700|Allura' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="css/left.css">

	<title>Bianca Semprit</title>
</head>
<body>
<main>

<!-- Small mobile Nav Bar -->
<div class="navbar-fixed hide-on-large-only">
	<nav>
	    <div class="nav-wrapper purple darken-2">
	    	<div class="container">
	    		<div class="row">
	    			<div class="col push-s4 s4">			
				      <ul>
				        <li><a href="sass.html" class=""><i class="material-icons small">perm_identity</i></a></li>
				        <li><a href="badges.html"><i class="material-icons small">work</i></a></li>
				        <li><a href="collapsible.html"><i class="material-icons small">message</i></a></li>
				        <li><a href="collapsible.html"><i class="material-icons small">list</i></a></li>
				      </ul>
	    			</div>
	    		</div>
	    	</div>
	    </div>
	  </nav>
</div>
<!-- End of small Nav Bar -->

<!-- Nav -->

<div class="row nav-bar">
		<img src="../images/laptop.png" class="computer-nav">
	<div class="nav-text-holder inline">
		<img src="../images/blinkerGreen.gif" class="blinker">
		<span class="nav-text white-text inline">HOME</span>
	</div> 
</div>


<div class="row first-row">
	<div class="col l12 left-top">
		<div class="col l6 center quote">
			<h5 class="white-text z-depth-4 center-align waves-effect waves-purple black">"I go to seek a great perhaps..." - Francois Rabelais</h3>
		</div>
	</div>
</div>

<div class="row">
	<div class="col l12 left-portfolio purple darken-1">
		<div>
			<h3>Projects:</h3>
			<div class="projects-holder ">
				<img src="images/macbook.png" class="macbook">
				<img src="images/gamer.png" class="gamer">
			</div>
		</div>
	</div>
</div>
</main>
<footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l12 s12">
                <h5 class="white-text">Bianca Semprit</h5>
                <p class="grey-text text-lighten-4">Form goes here eventually</p>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2016 Copyright Text
            </div>
          </div>
        </footer>

	
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
  	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
</body>
</html>