 @font-face { font-family: 'Rex'; src: url('../fonts/RexBold.otf'); } 

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
    

.first-row {
	margin-bottom: 0 !important;
}

.quote {
	position: absolute;
	bottom: 0;
	left: 0;
	font-family: "Allura", serif;
}


.left-top {
	background-color: black;
	height: 100vh;
}

.left-bianca-text {
	margin-top: 10%;
}

.left-bianca-text img{
	width: 30%;
}


.left-portfolio {
	height: 70vh;
	width: 100vw;
	background-image: url("../images/randomTechBackground.jpg");
	background-position: cover;
	background-repeat: no-repeat;
	background-size: 100%;

}

.nav-bar {
	position: fixed;
	right: 0;
	top: -6% !important;
	z-index: 10;
	width: 25vh;
}

.computer-nav {
	width: 25vh;
	height: auto;
}

.nav-text-holder {
	position: absolute;
	top: 40%;
	right: 30%;
	font-family: 'Rex', serif;
	font-size: 1.3em;
}

.inline {
	display: inline-block;
}

.blinker {
	display: inline-block;
	height: 1em;
}

.projects-holder {
	position: relative;
}

.gamer {
	position: relative;
	top: 50%;
	left: 10%;
	width: 200px;
	height: 100px;
}

.macbook {
	position: relative;
	top: 50%;
	left: 10%;
	width: 400px;
	height: 200px;
}

