 @font-face { font-family: 'Rex'; src: url('../fonts/RexBold.otf'); } 
 @font-face { font-family: 'Generica'; src: url('../fonts/Generica.otf'); } 
 @font-face { font-family: 'Generica+Bold'; src: url('../fonts/GenericaBold.otf'); } 

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: "Generica", serif;
  }

  main {
    flex: 1 0 auto;
  }
    

.first-row {
	margin-bottom: 0 !important;
}

.quote {
	font-family: "Allura", serif;
}


.left-top {
	background-image: url('../images/face.gif'), url('../images/faceleft.gif');
	background-position: left, right;
	background-repeat: no-repeat;
	background-size: 40%;
	background-color: black;
	height: 100vh;
}

.left-bianca-text {
	margin-top: 10%;
}

.left-bianca-text img{
	width: 30%;
}

.left-skills {
	background-image: url("../images/sodimanimshells.gif");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 80%;
	height: 100vh;
	background-color: black;
}

.skills-buttons-left {
	
}

.left-portfolio {
	height: 70vh;
	width: 100vw;
	background-image: url("../images/randomTechBackground.jpg");
	background-position: cover;
	background-repeat: no-repeat;
	background-size: 100%;
}

.left-divider {
	margin: 2% 0;
}

.nav-bar {
	position: fixed;
	right: 0;
	top: -6% !important;
	z-index: 10;
	width: 25vh;
}

.computer-nav {
	width: 25vh;
	height: auto;
}

.nav-text-holder {
	position: absolute;
	top: 40%;
	right: 30%;
	font-family: 'Rex', serif;
	font-size: 1.3em;
}

.inline {
	display: inline-block;
}

.blinker {
	display: inline-block;
	height: 1em;
}

.projects-holder {
	position: relative;
}

.project-left-details {
	margin: 10% 0;
}

.macbook {
	position: relative;
	top: 50%;
	left: 10%;
	width: 400px;
	height: 200px;
}

