 @font-face { font-family: 'Rex'; src: url('../fonts/RexBold.otf'); } 


body {
	background-image: url("../images/brainwhite.png"), url("../images/rcolor.jpg"), url("../images/codigo1.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: 40%, 50% 100%, cover;
	background-attachment: fixed;
	background-position: center bottom,center right, center left;
	background-repeat: no-repeat, no-repeat, no-repeat;
}

.home-welcome {
	position: absolute;
	text-shadow: 3px 2px 1px black;
	z-index: -1;
}

.welcome-text {
	position: absolute;
	transform: rotate(-15deg);
	top: 50px;
	left: 0;
	font-size: 5rem;
}

.home-text {
	font-family: 'Cinzel', serif;
	font-weight: 700;
	background-color:rgba(0, 0, 0);
}

.left-side, .right-side {
	background-color: rgba(243, 229, 245, 0.3);
	height: 100vh;
	z-index: 5;
	padding: 0 !important;
}

.left-side:hover, .right-side:hover {
	background-color: rgba(243, 229, 245, 0);
}

.full-home-page {
	margin-bottom: 0 !important;
}

.enter-left, .enter-right {
	position: absolute;
}

.enter-left {
	top: 50vh;
	left: 25%;
	font-family: 'Rex', serif; 
}

.enter-left-text, .enter-right-text {
	font-size: 50px !important;
	background-color:rgba(0, 0, 0);
}

.enter-right {
	top: 50vh;
	right: 25%;
	font-family: "Cinzel", serif;
}